* {
    box-sizing: border-box;
}

html {
    font-size: 100%;
    display: block;
}

p {
    font-size: 1rem;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

#landing {
    background-color: ivory;
    color: #212121;
    padding: 20rem 5rem;
}

/* about */

#about {
    background-color: #212121;
    color: ivory;
    padding: 3rem 5rem;
}

.about-flex-image {
    display: flex;
    flex-flow: row nowrap;
    min-width: 12rem;
    align-items: center;
    border: 2px solid ivory;
    box-shadow: 4px 4px 5px 0px black;
}

.about-flex-details {
    flex: 13%;
    color: ivory;
    background-color: #212121;
}

.about-flex-details ul {
    list-style: none;
    margin-bottom: 2rem;
}

.about-flex-details p {
    margin-top: 3rem;
}

.about-flex-content {
    flex: 100%;
    margin-top: 2rem;
}

.navbar:hover .navLinks {
    display: block;
}

#about a {
    color: ivory;
    display: inline;
}

#about a:link {
    color: ivory;
    text-decoration: none;
  }
  
#about a:visited {
    color: ivory;
    text-decoration: none;
  }

#about a:hover {
    color: ivory;
    text-decoration: underline;
  }
  
#about a:active {
    color: blue;
    text-decoration: underline;
  }

#selfie {
    width: 12rem;
}

/* skills */

aside {
    flex: 40%;
    width: fit-content;
    height: 12rem;
    line-height: 1.5rem;
    margin-left: 1rem;
    float: right;
    font-style: italic;
    color: ivory;
    background-color: #212121;
    border: solid 2px ivory;
    box-shadow: 4px 4px 5px 0px black;
    justify-content: center;
}

aside ul {
 margin: 1rem;
 padding: .25rem;
 list-style: none;
}

.about-flex-header {
    flex: 100%;
    margin: auto;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    margin: 2rem auto 2rem auto;
}

.flex-item h4 {
    margin: 0;
}

.flex-item {
    padding: 1rem;
    margin: 1rem;
    flex: 20%;
    min-width: 11rem;
    border: solid 2px ivory;
    box-shadow: 4px 4px 5px 0px black;
}

.flex-concepts {
    flex: 100%;
    padding: 1rem;
    margin: 1rem;
    border: solid 2px ivory;
    box-shadow: 4px 4px 5px 0px black;
}

.flex-item ul {
    padding: 1rem;
    margin: 0;
}

li{
    padding: .1rem;
}

.concept-list {
    columns: auto 2;
}

.education {
    width: 85%;
    margin: auto;
}

.education ul {
    columns: auto 2;
}

/* projects */

#projects {
    display: block;
    width: 85%;
    margin: auto;
    background-color: ivory;
    color: #212121;
    padding: 3rem 5rem;
}

.projectDiv {
    display: inline-block;
    text-align: center;
    height: 17rem;
    width: 23rem;
    margin: 2rem;
    padding: 1rem;
    color: ivory;
    background-color: #212121;
    box-shadow: 4px 4px 5px 0px gray;
}

.projectImg{
    width: 15rem;
    border-radius: 5px;
    margin: auto;
}

/* navbar */

.navList {
    padding: .25rem;
    color: ivory;
    border: solid #212121 4px;
    background-color: #212121;
    margin: 0;
}

.navlist span {
    font-size: 1.5rem;
}

.navbar {
    display: block;
    position: fixed;
    right: 3rem;
    top: 3rem;
    text-align: center;
    text-transform: uppercase;
    width: 6.3rem;
    box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.555);
}

.navLinks {
    display: none;
    position: absolute;
    width: auto;
    background-color: ivory;
    border: solid #212121 4px;
    box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.555);
    z-index: 1;

}

.navbar:hover .navLinks {
    display: block;
}

.navLinks a {
    padding: .5rem .5rem;
    color: #212121;
    display: block;
    min-width: fit-content;
}

.navLinks a:link {
    color: #212121;
    text-decoration: none;
  }
  
.navLinks a:visited {
    color: #212121;
    text-decoration: none;
  }

.navLinks a:hover {
    color: #212121;
    text-decoration: underline;
  }
  
.navLinks a:active {
    color: blue;
    text-decoration: underline;
  }


  /* Footer */

#contact {
    background-color: #212121;
    color: ivory;  
    padding: 2rem 5rem;
    margin-bottom: 1rem;
    text-align: center;
}

.contactLinks{
    font-size: 1.5rem;
    margin: 0 1rem;
}

footer {
    background-color: ivory;
    color: #212121;
    padding: 1rem;
    text-align: center;
}

.contactLinks:link {
    color: ivory;
    text-decoration: none;
  }
  
  .contactLinks:visited {
    color: ivory;
    text-decoration: none; 
  }
  
  .contactLinks:hover {
    color: ivory;
    text-shadow: 0 0 5px ivory;
  }
  
  .contactLinks:active {
    color: blue;
    text-decoration: underline;
  }
